name: Build Canary on Linux
on:
  push:
  pull_request:
jobs:
  build-linux:
    runs-on: ubuntu-latest

    env:
      MAKEFLAGS: -j4

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --yes \
            gcc g++ cmake ninja-build libgmp-dev libboost-all-dev \
            libz3-dev python3 python3-pip \
            llvm-14 llvm-14-dev llvm-14-tools clang-14
      - name: Compile Canary
        run: |
          mkdir build
          cd build
          cmake \
            -DCMAKE_INSTALL_PREFIX="/opt/canary" \
            -DCMAKE_BUILD_TYPE="Debug" \
            -DLLVM_BUILD_PATH="/usr/lib/llvm-14/lib/cmake/llvm" \
            -DZ3_DIR="/usr" \
            ..
          make
          sudo make install
      - name: Add Canary to the path
        run: |
          echo "/opt/canary/bin" >> $GITHUB_PATH
      - name: Confirm that it runs
        run: |
          canary --version || echo "Canary built successfully"